#background {
  background-image: url("img/jose-castillo-ZdPRzJZzpjI-unsplash_optimized.jpg");
  background-position: 50%;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  opacity: 0.1;
  filter: blur(20px);
  transition: all 100ms;
  text-align: center;
  justify-content: space-between;
}

.placeholder {
  height: 2000px;
  width: 100%;
}

.basic-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 500px 100px 100px;
  align-items: center;
}

@media (min-width: 600px) {
  .basic-grid {
    grid-template-columns: 4fr 1fr 1fr;
  }
}

.background-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 7fr 1fr;
}

.basic-grid-item {
  background-color: transparent;
}

.hello-there {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  color: white;
  text-transform: uppercase;
}

.more {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  color: white;
}

.blink-element {
  animation: blink 2s linear infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
